/* Icons ================================================================================= */
    #{$iconClass}{
        &:before{
            display: block;
            font-family: $iconsFont;
            @extend %transition-normal-speed;
        }
        &.mail{
            &:before{
                content: '\E800';
            }
        }
    }
/* ======================================================================================= */