/* Keyframes ============================================================================= */
    @include keyframes (getUp){
        0% {
            margin-bottom: -10%;
        }
        100%{
            opacity: 1;
            visibility: visible;
        }
    }
    @include keyframes (fadeIn){
        to {
            opacity: 1;
            visibility: visible;
        }
    }
    @include keyframes (rotateIn){
        to{
            @include rotate(-90);
        }
    }
    @include keyframes (fallDawn){
        from{
            margin-top: -10%;
        }
        to{
            opacity: 1;
            visibility: visible;
        }
    }
    @include keyframes (type){
        to{
            max-width: 500px;
            opacity: 1;
            visibility: visible;
        }
    }
    @include keyframes (scaleUp){
        from{
            @include scale(0);
        }
        to{
            opacity: 1;
            visibility: visible;
            @include scale(1);
        }
    }
    @include keyframes (slideLeft){
        from{
            margin-left: -200%;
        }
        to{
            opacity: 1;
            visibility: visible;
            margin-left: 0;
        }
    }
    @include keyframes (slideRight){
         from{
            margin-right: -200%;
        }
        to{
            opacity: 1;
            visibility: visible;
            margin-right: 0;
        }
    }
    @mixin animation($animation...) {
        -webkit-animation: $animation 1 forwards;
        -moz-animation: $animation 1 forwards;
        -o-animation: $animation 1 forwards;
        animation: $animation 1 forwards;
    }
    @mixin keyframes($animationName) {
        @-webkit-keyframes #{$animationName} {
            @content;
        }
        @-moz-keyframes #{$animationName} {
            @content;
        }
        @-o-keyframes #{$animationName} {
            @content;
        }
        @keyframes #{$animationName} {
            @content;
        }
    }
/* ======================================================================================= */