/* Placeholders ========================================================================== */
    %border-box{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    %no-select{
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    %resetAppearence{
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
    }
    %border-radius-50{
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
    }
    %transition-slow-speed{
        @include transition($slow-speed);
    }
    %transition-normal-speed{
        @include transition($normal-speed);
    }
    %transition-fast-speed{
        @include transition($fast-speed);
    }
    %inline-block-top{
        @include inline-block(top);
    }
    %inline-block-middle{
        @include inline-block(middle);
    }
    %inline-block-bottom{
        @include inline-block(bottom);
    }
    %overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    %hidden{
        opacity: 0;
        visibility: hidden;
    }
    %visible{
        opacity: 1;
        visibility: visible;
    }
/* ======================================================================================= */