/* Color Constants ======================================================================== */
    $ORANGE_COLOR: #F7921C;
 /* Colors ================================================================================ */
    $primaryColor: #FFF;
    $attentionColor: $ORANGE_COLOR;
/* Fonts ======================================================================= */
    $primaryFont: 'kellySlabRegular', sans-serif;
    $iconsFont: 'Fontello';
    $iconClass: '.icn';
/* Variables Widths ====================================================================== */
    $mainWidth: 960px;
    $maxWidth: 1920px;
    $minWidth: 320px;
/* Transition Speed ====================================================================== */
    $fast-speed: .2s;
    $normal-speed: .3s;
    $slow-speed: .5s;
/* Indents =============================================================================== */
    $mainIndent: 20px;
/* Indents =============================================================================== */
    $animationDuration: .75s;
/* ======================================================================================= */