/* Common ================================================================================ */
	$labelWidth: 40px;
	$labelHeight: $labelWidth;
	$inputHeight: 40px;
	$inputLineheight: 20px;
	$submitBtnWidth: 100px;
/* Common ================================================================================ */
	form{
		max-width: $mainWidth/2;
		padding: 0 $mainIndent;
		margin: 0 auto;
		font: 20px/1.1 $primaryFont;
		&.loading{
			fieldset{
				&:before{
					z-index: 1;
					@extend %visible;
				}
			}
		}
	}
	legend{
		margin: 0 auto $mainIndent;
	}
	input{
		display: block;
		width: 100%;
		height: $inputHeight;
		margin: 0;
		padding: ($inputHeight - $inputLineheight)/2 0;
		background: #FFF;
		font: 14px/#{$inputLineheight} $primaryFont;
		color: #252525;
		border-radius: 0;
		@extend %transition-normal-speed;
		&:invalid{
			box-shadow: none;
		}
	}
	[type="submit"]{
		position: absolute;
		width: $submitBtnWidth;
		height: 100%;
		right: 0;
		bottom: 0;
		padding: 0;
		background: $attentionColor;
		font: 700 20px/#{$inputHeight} $primaryFont;
		color: #FFF;
		cursor: pointer;
		text-transform: uppercase;
	}
	[type="email"]{
		padding-right: $submitBtnWidth + $mainIndent/2;
		text-indent: $labelWidth;
	}
	fieldset{
		position: relative;
		margin: 0 0 $mainIndent;
		&:before{
			content: '';
			background: rgba(#FFF, .7) url('../img/ajaxLoader.gif') no-repeat center center;
			@extend %overlay;
			@extend %hidden;
			@extend %transition-normal-speed;
		}
		label{
			position: absolute;
			height: $labelHeight;
			width: $labelWidth;
			left: 0;
			top: 0;
			font-size: 0;
			color: transparent;
			cursor: pointer;
			background: #FFF;
			&:before{
				color: $attentionColor;
				font: ($labelHeight/2)/#{$labelHeight} $iconsFont;
			}
		}
	}
	#{$notHandheld}{
		[type="submit"]{
			&:hover{
				background: darken($attentionColor,10%);
			}
		}
	}
/* Media Queries ========================================================================= */
/* ======================================================================================= */