/* Common ================================================================================ */
    $labelWidth: 40px;
    $labelHeight: $labelWidth;
/* Common ================================================================================ */
    form{
        opacity: 0;
        padding: 0 $mainIndent;
        font: 20px/1.1 $primaryFont;
        &.loading{
            fieldset{
                &:before{
                    z-index: 1;
                    @extend %visible;
                }
            }
        }
    }
    legend{
        margin: 0 auto $mainIndent;
    }
    input{
        display: block;
        width: 100%;
        height: 40px;
        margin: 0;
        padding: $mainIndent/2 0;
        background: #FFF;
        border: 0;
        outline: 0;
        background: #FFF;
        font: 14px/20px $primaryFont;
        color: #252525;
        @include border-radius(0);
        @extend %resetAppearence;
        @extend %border-box;
        @extend %transition-normal-speed;
        &[type="submit"]{
            position: absolute;
            width: 100px;
            height: 40px;
            right: 0;
            bottom: 0;
            padding: 0;
            background: $attentionColor;
            font: 700 20px/40px $primaryFont;
            color: #FFF;
            cursor: pointer;
            text-transform: uppercase;
        }
        &[type="email"]{
            padding-right: 110px;
            text-indent: $labelWidth;
        }
    }
    fieldset{
        position: relative;
        max-width: $mainWidth/2;
        margin: 0 auto;
        &:before{
            content: '';
            background: rgba(#FFF, .7) url('../img/ajaxLoader.gif') no-repeat center center;
            @extend %overlay;
            @extend %hidden;
            @extend %transition-normal-speed;
        }
    }
    label{
        position: absolute;
        height: $labelHeight;
        width: $labelWidth;
        left: 0;
        top: 0;
        font-size: 0;
        color: transparent;
        cursor: pointer;
        background: #FFF;
        &:before{
            color: $attentionColor;
            font: ($labelHeight/2)/#{$labelHeight} $iconsFont;
        }
    }
    .animate{
        form{
            @include animation($animationDuration fadeIn $animationDuration*9);
        }
    }
/* Media Queries ========================================================================= */
    @media screen and (min-width: 1025px){
        input{
            &[type="submit"]{
                &:hover{
                    background: darken($attentionColor, 10%);
                }
            }
        }
    }
    @media screen and (max-width: 600px){
        input{
            &[type="email"]{
                padding-right: 90px;
            }
            &[type="submit"]{
                width: 80px;
                font-size: 16px;
            }
        }
    }
/* ======================================================================================= */