/* Common ================================================================================ */
  html,
  body{
    height: 100%;
  }
  body{
    position: relative;
    height: 100vh;
    min-width: $minWidth;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background: #171717;
    font-size: 0;
    font-family: $primaryFont;
    &::before{
      content: '';
      width: 0;
      height: 100%;
      @extend %inline-block-middle;
    }
  }
  h1{
    margin: 0 0 $mainIndent*.75;
  }
  b{
    overflow: hidden;
    color: $attentionColor;
    + span{
      margin: 0;
      font-size: 13px;
      transform: rotate(-90deg);
    }
  }
  span{
    display: block;
    margin: 0 0 $mainIndent*.75;
    font-size: 20px;
  }
  section{
    width: 100%;
    max-width: $mainWidth;
    margin: 0 auto;
    padding: $mainIndent*2 $mainIndent/2;
  }
/* Helper Classes ======================================================================== */
  .itm{ // Inline block element
    @extend %inline-block-middle;
  }
  .hdn{ // Hidden element
    // @extend %hidden;
  }
  .tlg{ // Text large
    font: 50px/1.1 $primaryFont;
  }
  .telg{ // Text extra large
    font: 700 100px/1 $primaryFont;
  }
/* Messages ============================================================================== */
  .msg{
    display: block;
    padding: $mainIndent/2;
    border: 1px solid #FFF;
    text-transform: none;
    font-size: 14px;
    transform: translate(0,-30px);
    @extend %hidden;
    @extend %transition-normal-speed;
    &.active{
      transform: translate(0,0);
      @extend %visible;
    }
    &.success{
      border-color: $successColor;
    }
    &.error{
      border-color: $errorColor;
    }
  }
/* Media Queries ========================================================================= */
  @media screen and (max-width: 700px){
    .tlg{
      font-size: 24px;
    }
    .telg{
      font-size: 50px;
    }
    span{
      font-size: 16px;
      &.itm{
        display: block;
        margin: $mainIndent/2 0;
        transform: rotate(0);
      }
    }
  }
/* ======================================================================================= */