@font-face {
	font-family: 'kellySlabRegular';
		src: url("../fonts/primaryFont/kellySlabRegular.eot") format("eot");
		src: url("../fonts/primaryFont/kellySlabRegular.woff") format("woff"),
			 url("../fonts/primaryFont/kellySlabRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/primaryFont/kellySlabRegular.ttf") format("truetype"),
			 url("../fonts/primaryFont/kellySlabRegular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Fontello';
		src: url("../fonts/iconsFont/fontello.eot") format("eot");
		src: url("../fonts/iconsFont/fontello.woff") format("woff"),
			 url("../fonts/iconsFont/fontello.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/iconsFont/fontello.ttf") format("truetype"),
			 url("../fonts/iconsFont/fsontello.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}