html, body, div, span, b, input, form, section, legend, fieldset, label{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	user-select: none;
	box-sizing: border-box;
}
input{
	vertical-align: middle;
	border: 0;
	outline: 0;
	appearance: none;
}